body{
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	align-items: center;
	background-color: black;
	opacity: 0.9; /* this should push the rest (but not the header) down so it's not stuck under fixed header */
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
  margin: 0;
	height: 69px;
	width: 100%;
	background-color: black;
	border-bottom: 1px solid seashell;
	position: fixed;
}

/*logo*/
.logo {
	flex-shrink: 1; /* I'm not sure I need this */
}
.logo img {
	height: 50px;
	width: auto;
	display: block;
}

 /*navigation*/
.links {
	display: flex;

}
.links a {
	color: seashell;
	text-decoration: underline;
	margin: 0 10px;
}
 /*Mission section*/
 .mission{

 }
.mission image-content{
}
.overlay img{
	height: 700px;
  width: 1200px;

}
text-block span {
  background-color: black;
  color: seashell;
  width: 1200px;
}


/*Featured Products*/
.flex-container2{
		width: 1000px;
}
.flex-container2 p{
	align-items: center;
}

}
.flex{

}
/*Locations*/

/*Contact*/
container {
  height: 200px;
}
.contact{

}

/*Footer*/
