<!DOCTYPE css>
body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;

}
header{
  background-color: black;
  border-bottom: 1px solid seashell;

}
/*logo*/

.logo{
  background-color: black;
  padding-left: 10px;
}
.logo.image.content{
  padding-left: 10px;
}

nav span{
  text-decoration-style: solid;
  color: seashell;
  background-color: black
}

a{
  background-color: black;
  color: seashell;
}
 /*Mission section*/

.overlay{

}
h2{

}
h4{

}

/*Featured Products*/
.featured.products{

}
h1{

}
h2{

}
.flex{

}
/*Locations*/

/*Contact*/

/*Footer*/
