body{
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	margin: 0;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	padding: 0;
  margin: 0;
	margin-left: 0;
	margin-top: 0;
	padding: 0;
	font-size: 22px;
	height: 69px;
	width: 100%;
	background-color: black;
	border-bottom: 1px solid seashell;
	position: fixed;
	top: 0;
	left: 0;

}

/*logo*/
.logo {
	display: flex;
	align-items: center;
	margin-left: 0;
}
.logo img {
	height: 50px;
	margin-left: 10px;
	margin-top: 0px;
}

 /*navigation*/
 nav span{
	 display: inline;
	 padding: 20px 10px;
 }
nav a{
	color: seashell;
	opacity: .9;
	text-decoration: underline;
}
 header nav{
	 padding-right: 20px;
 }
 /* main content*/

 /*Mission section*/
 .main-content{
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
	 width: 100%;
	 background-color: black;
 }
.image-content{
	display: flex;
  flex-direction: column;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-color: black;
  height: 700px;
  width: 1200px;
  margin-top: 69px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.text-block {
	display: flex;
	flex-direction: column;
  background-color: black;
  color: seashell;
  width: 1200px;
}
.text-block h2{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 0;
	margin-bottom: auto;
	}
.text-block h4{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: auto;
	margin-bottom: 0;
}

/*Featured Products*/
.teaofmonth{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 1000px;
	margin-top: 60px;
}
.teaofmonth h1{
	margin: 10px 0;
	padding: 0;
}
.teaofmonth h2{
	margin: 10px 0;
	padding: 0;
}
.box{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}
.teaitem{
	text-align: center;
	padding: 0 10px;
}
.teaitem img{
	width: 300px;
	height: 200px;
}

/*Locations*/

.locations{
	display: flex;
  flex-direction: column;
  background-image: url("/Users/becca/Desktop/Projects/Tea-Cozy/Resources/img-locations-background.jpg");
  background-color: black;
  height: 500px;
  width: 1000px;
  text-align: center;
  align-items: center;
	background-position: center;
}
.locations h4{
	text-align: center;
}
.blocks{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
}
.locationblock {
	width: 300px;
	background-color: black;
	text-align: center;
	opacity: 1;
}
/*Contact*/
.container {
  height: 200px;
}
.contact{
	text-align: center;
}

/*Footer*/
footer{
	padding-left: 20px;
}
